<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Turno</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
</head>

<body>

    <header></header>

    <main>

        <div class="menu-lateral" id="menu-lateral"></div>

        <div class="container">

            <button class="back-button" onclick="window.history.back()">←</button>
            <h1>Cadastro De Turno</h1>

            <form th:action="@{/turno}" method="post" th:object="${turno}">

                <input type="hidden" th:field="*{id_turno}" />

                <label for="entradaPadrao">Horário de entrada padrão:</label>
                <input type="time" id="entradaPadrao" th:field="*{entradaPadrao}" required>

                <label for="pausaPadrao">Horário de início da pausa:</label>
                <input type="time" id="pausaPadrao" th:field="*{pausaPadrao}" required>

                <label for="retornoPadrao">Horário de retorno da pausa:</label>
                <input type="time" id="retornoPadrao" th:field="*{retornoPadrao}" required>

                <label for="saidaPadrao">Horário de saída padrão:</label>
                <input type="time" id="saidaPadrao" th:field="*{saidaPadrao}" required>

                <label for="horasSemanais">Horas de trabalho semanais (44 Horas):</label>
                <input type="number" id="horasSemanais" th:field="*{horasSemanais}" required>

                <button type="submit" class="submit-button">Concluir Cadastro</button>

            </form>

        </div>
    </main>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/menu_lateral.js}"></script>

</body>

</html>