<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Turno</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
</head>
<body>

<header></header>

<main>
    <div class="container">

        <button class="back-button">←</button>
        <h1>Cadastro De Turno</h1>

        <form th:action="@{/turno}" method="post" th:object="${turno}">

            <input type="hidden" th:field="*{id_turno}"/>

            <label for="turno">Nome do turno:</label>
            <input type="text" id="turno" th:field="*{turno}" required>

            <label for="entradaPadrao">Horário de entrada padrão:</label>
            <input type="time" id="entradaPadrao" th:field="*{entradaPadrao}">

            <label for="saidaPadrao">Horário de saída padrão:</label>
            <input type="time" id="saidaPadrao" th:field="*{saidaPadrao}">

            <button type="submit" class="submit-button">Concluir Cadastro</button>

        </form>

    </div>
</main>

<script th:src="@{/js/menu.js}"></script>

</body>
</html>
