<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
    <title>Listagem de Justificativas</title>
</head>

<body>

    <header></header>

    <main>

        <div class="menu-lateral" id="menu-lateral"></div>

        <div class="container">

            <button class="back-button" onclick="window.history.back()">←</button>
            <h1>Lista de Justificativas</h1>

            <form th:action="@{/tela/pesquisa_justificativa}" method="get">

                <label for="funcionarios">Funcionário:</label>
                <select name="idFuncionario" id="funcionarios">
                    <option value="">Selecione</option>
                    <th:block th:each="f : ${listaFuncionarios}">
                        <option th:value="${f.id_funcionario}" th:text="${f.nome}"
                            th:selected="${idFuncionario != null and idFuncionario == f.id_funcionario}">
                        </option>
                    </th:block>
                </select>

                <button type="submit" class="submit-button">Pesquisar</button>

            </form>

            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="justificativa : ${justificativas}">
                        <td th:text="${#temporals.format(justificativa.dataFalta, 'dd/MM/yyyy')}"></td>
                        <td th:text="${justificativa.descricao}"></td>
                        <td>
                            <a th:href="@{/tela/cadastro_justificativa/{id}(id=${justificativa.id_justificativa})}"
                                title="Editar">
                                ✏️
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/menu_lateral.js}"></script>

</body>

</html>