<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
    <title>Pesquisa de Funcionário</title>
</head>

<body>

    <header></header>

    <main>

        <div class="menu-lateral" id="menu-lateral"></div>

        <div class="container">

            <form th:action="@{/tela/pesquisa_funcionario}" method="get">
                <h1>Pesquisar Funcionário</h1>
                <div class="input-box">
                    <input type="text" name="cpf" placeholder="Digite o CPF" required>
                    <i class="bx bxs-id-card"></i>
                </div>
                <button type="submit" class="login">Pesquisar</button>
            </form>

            <div class="tabela-resultados" th:if="${resultados != null}">
                <h2>Resultados</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="funcionario : ${resultados}">
                            <td th:text="${funcionario.nome}"></td>
                            <td th:text="${funcionario.cpf}"></td>
                            <td>
                                <a th:href="@{/tela/cadastro_funcionario/{id}(id=${funcionario.id_funcionario})}" title="Visualizar"> Visualizar 👁️</a>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </main>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/menu_lateral.js}"></script>

</body>

</html>