<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
    <title>Listagem de Justificativas</title>
</head>

<body>

    <header></header>

    <main>

        <div class="menu-lateral" id="menu-lateral"></div>

        <div class="container">

            <div class="tabela-resultados" th:if="${justificativas != null}">
                <h2>Lista de Justificativas</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="justificativa : ${justificativas}">
                            <td th:text="${justificativa.descricao}"></td>
                            <td>
                                <a th:href="@{/tela/cadastro_justificativa/{id}(id=${justificativa.id_justificativa})}"
                                    title="Editar">
                                    ✏️
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </main>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/menu_lateral.js}"></script>

</body>

</html>